.courier {
    nav {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        font-size: .14rem;
        background: #fff;
        padding: 0 10px;
        height: .43rem;
        color: #888;

        .keyword {
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #333;

            &:before {
                display: inline-block;
                width: .12rem;
                height: .14rem;
                content: '';
                margin-right: 5px;
                background: url(https://cdn.kuaidi100.com/images/m/dispatch/location.png) 0 0/100% no-repeat;
                vertical-align: -2px;
            }
        }

        &:after {
            width: 0.084rem;
            height: 0.084rem;
            border-top: 1px solid #888;
            border-right: 1px solid #888;
            border-top-right-radius: 2px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
        }
    }

    .menu-tab {
        display: block;
        text-align: center;
        background: #FFF;
        line-height: 30px;

        span.active {
            color: #317ee7;
            border-bottom: 2px solid;
        }

        span {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            margin: 0 .28rem;
            color: #888;
            font-size: .14rem;

            i {
                position: absolute;
                left: 100%;
                top: -1px;
                margin-left: 2px;
                width: 35px;
                height: 17px;
                background-size: 100%;
                background-repeat: no-repeat;
            }

        }

        .immediat {
            background-image: url(https://cdn.kuaidi100.com/images/m/dispatch/immediat.png);
        }

        .heavy {
            background-image: url(https://cdn.kuaidi100.com/images/m/dispatch/heavy.png);
        }
    }

    .wrap {
        padding: 10px;

        ul {

            .courier-card {
                position: relative;
                background: 0 0/100% 100% #3278e6;
                background-image: url(https://cdn.kuaidi100.com/images/all/card/bg/debangkuaidi.png?version=2);
                margin-bottom: 10px;
                border-radius: 4px;
                padding: .14rem;
                overflow: hidden;
                color: #FFF;

                .info {
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: .48rem;
                        height: .48rem;
                        margin-right: .14rem;
                        border-radius: 50%;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        border: 2px solid rgba(255, 255, 255, .3);
                        background-image: url(https://cdn.kuaidi100.com/images/all/56/debangkuaidi.png);
                    }

                    .text {
                        width: 0;
                        flex: 1;

                        .name-wrap,
                        .sign {
                            display: -webkit-flex;
                            display: flex;
                        }

                        .score-wrap {
                            font-size: .12rem;
                            line-height: .28rem;

                            span {
                                display: inline-block;
                                margin-right: 4px;
                            }
                        }

                        .tags {
                            white-space: nowrap;

                            span {
                                display: inline-block;
                                padding: 0 5px;
                                margin-right: 5px;
                                border: 1px solid rgba(255, 255, 255, .5);
                                border-radius: 2px;
                                font-size: .1rem;
                            }
                        }
                    }
                }

                .name {
                    flex-shrink: 1;
                    font-size: .16rem;
                    white-space: nowrap;
                    padding-right: 4px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .comlist {
                    transform: scale(.5);
                    transform-origin: 0 100%;
                    font-size: 0;

                    i {
                        display: inline-block;
                        width: .32rem;
                        height: .32rem;
                        margin-right: 8px;
                        border-radius: 50%;
                        background-size: 100%;
                        vertical-align: middle;
                        font-style: normal;
                        text-align: center;
                        line-height: .32rem;
                        font-size: .16rem;
                        border: 1px solid rgba(255, 255, 255, .5);
                        color: #FFF;
                        background-image: url(https://cdn.kuaidi100.com/images/all/56/debangkuaidi.png);

                    }
                }
            }
        }
    }
}