.more {
    background: #FFF;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    a {
        position: relative;
        display: block;
        width: 33.33%;
        box-sizing: border-box;
        padding: .256rem 0;
        text-align: center;
        color: #333;
        border-bottom: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;
        font-size: .14rem;
    }

    a:before {
        display: block;
        width: .26rem;
        height: .26rem;
        content: '';
        margin: 0 auto .5em;
        background-image: url(//cdn.kuaidi100.com/images/m/icons/more.png?verion=10);
        background-repeat: no-repeat;
        background-size: 26px auto;
    }

    a.price:before {
        background-position: 0 0;
    }

    a.all:before {
        background-position: 0 -31px;
    }

    a.net:before {
        background-position: 0 -60px;
    }

    a.global:before {
        background-position: 0 -90px;
    }

    a.download:before {
        background-position: 0 -118px;
    }

    a.import:before {
        background-position: 0 -150px;
    }
}


