.main {

    display: flex;
    flex-direction: column;
    background: #fff;

    .goLogin {
        height: .44rem;
        display: flex;
        position: relative;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 200%;
        //     width: 200%;
        //     border-bottom: 1px solid #e8e8e8;
        //     transform: scale(0.5);
        //     transform-origin: 0 0;
        // }
        //还需要做媒体查询

        @include border(1px, #e8e8e8, solid);

        >div:nth-child(1) {
            flex: 1;
            line-height: .3rem;
            margin-left: .15rem;
            margin-top: .06rem;
        }

        >div:nth-child(2) {
            margin-right: .15rem;
            margin-top: .06rem;

            span {
                display: block;
                width: .84rem;
                background: #f5f5f5;
                border-radius: .4rem;
                line-height: .3rem;
                text-align: center;
                height: .3rem;
                color: #00b38a;
            }
        }
    }

    ul {
        flex: 1;
        display: flex;
        flex-direction: column;
  
        .list-item {
            height: .91rem;
            display: flex;
            padding: .14rem;
            position: relative;
            @include border(1px, #e8e8e8, solid);

            img {
                height: .6rem;
                width: .6rem;
                margin-right: .1rem;

            }

            .item-desc {
                color: #333;
                flex: 1;

                .item-title {
                    font-size: .16rem;
                    margin-bottom: .06rem;
                    width: 80%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .item-info {
                    margin-bottom: .06rem;
                    width: 100%;
                    height: .15rem;
                    line-height: .15rem;
                    position: relative;

                    .item-pos {
                        display: inline-block;
                        width: 2rem;
                        -webkit-line-clamp: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .item-salary {
                        font-size: .16rem;
                        color: #00b38a;
                        position: absolute;
                        right: 0;
                        top: 0;

                    }
                }

                .item-time {
                    font-size: .1rem;
                    color: #888;
                }
            }
        }
    }
}