@charset "UTF-8";
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * lib中map使用“_”开头，本文件中不使用"_"
 * base ⇌ extra
 */
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * 本文件中map使用"_"开头，extra中不使用"_"
 * base ⇌ extra
 */
/**
 * 合并base和extra中的同类base map
 * 用以解决业务方升级Yo时需比base和extra的一致性
 * 当extra为空时，base map将以base文件里的定义作为默认值
 * 当extra不为空时，base map使用extra文件里的定义
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null；
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * variables中map使用“_”开头，本文件中不使用"_"
 * variables ⇌ config
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * 本文件中map使用"_"开头，config中不使用"_"
 * variables ⇌ config
 */
/**
 * 合并variables和config中的同类map
 * 用以解决业务方升级Yo时需比config和variables的一致性
 * 当config为空时，使用variables中的map作为默认值
 * 当config不为空时，使用config中的定义
 */
/**
 * Yo框架自定义全局函数
 * 扩充Sass默认函数库，用以增强语法
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的第一项
 * @function first
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的最后一项
 * @function last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的倒数第几项
 * @function nth-last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要返回的值在list中的倒数位置 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 移除SassList中的某个项目并返回新的List
 * @function remove
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {String} $value 指定需要被删除的值 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 截取SassList中的某个部分并返回新的List
 * @function slice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $start 指定需要截取的开始下标 <2.1.0>
 * @param {Integer} $end 指定需要截取的结束下标（不包括end），当该值缺省时默认为末尾下标 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 从SassList中添加/删除项目，然后返回新的List。
 * @function splice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要移除的开始下标 <2.1.0>
 * @param {Integer} $count 指定需要移除的数量，不可以为负值，0表示不移除 <2.1.0>
 * @param {String} $values 指定需要添加的新值（可以是多个），如果该值缺省，则表示只移除不添加新值 <2.1.0>
 */
/**
 * Yo框架全局基础方法
 * 包括响应式方案，CSS3兼容性方案，厂商前缀方案，iconfont方案，flex布局等全局方法
 */
/**
 * @module 常用方法
 * @description 给需要的属性加厂家前缀
 * @method prefix
 * @version 1.0.0
 * @param {String} $property 指定属性 <1.0.0>
 * @param {String} $value 指定属性值 <1.0.0>
 * @skip
 */
/**
 * @module 常用方法
 * @description 定义字体图标
 * @method _iconfont
 * @version 1.0.0
 * @skip
 */
/**
 * @module 常用方法
 * @description 四则运算(系统要求：iOS6.0+,Android4.4+)
 * @method calc
 * @version 1.7.0
 * @param {String} $property 指定需要进行计算的CSS属性 <1.7.0>
 * @param {String} $value 与原生CSS语法一致，区别在于需要使用引号包裹表达式 <1.7.0>
 * @example
 * .calc {
 *     @include calc(width, "100% - 100px");
 * }
 *
 * <div class="calc">四则运算</div>
 */
/**
 * @module 常用方法
 * @description 定义响应式方案
 * @method responsive
 * @version 1.0.0
 * @param {String} $media 指定媒体查询条件，取值为`config`文件map `media-types`中的值 <1.0.0>
 */
/**
 * @module 常用方法
 * @description 清除浮动方案
 * @method clearfix
 * @version 1.0.0
 * @param {String} $type 指定清除浮动的方式，包括：pseudo-element | bfc，默认值：pseudo-element <1.8.5>
 */
/**
 * @module 常用方法
 * @description 清除行内级元素间间隙方案
 * @method clearspace
 * @version 3.0.3
 * @param {Length} $font-size 指定子元素字号，默认值：.14rem <3.0.3>
 * @example
 * .demo {
 *     @include clearspace;
 * }
 *
 * <div class="demo">
 *      <span class="item">1</span>
 *      <span class="item">2</span>
 *      <span class="item">3</span>
 * </div>
 */
/**
 * @module 常用方法
 * @description 描述元素内容在横、纵方向上的对齐方式，默认为水平垂直居中对齐
 * @method align
 * @version 2.0.0
 * @param {String} $flexbox 元素布局方式，可选值：flex | inline-flex，默认值：flex <2.0.0>
 * @param {Keyword} $justify-content 元素内容的水平对齐方式，取值与`justify-content`属性一致，默认值：center <2.0.0>
 * @param {Keyword} $align-items 元素内容的垂直对齐方式，取值与`align-items`属性一致，默认值：center <2.0.0>
 * @example
 * .demo {
 *     @include align;
 * }
 *
 * <div class="demo">
 *      <img alt="未知尺寸图片居中" />
 * </div>
 */
/**
 * @module 常用方法
 * @description 定义是否有滚动条
 * @method overflow
 * @version 1.0.0
 * @param {String} $overflow 取值与最新原生语法一致，默认值：auto <1.0.0>
 */
/**
 * @module 常用方法
 * @description 生成全屏方法
 * @method fullscreen
 * @version 1.7.0
 * @param {Integer} $z-index 指定层叠级别 <1.7.0>
 * @param {Keywords} $position 指定定位方式，取除`static | relative`之外的值，默认值：absolute <1.8.5>
 */
/**
 * @module 用户界面
 * @description 定义使用何种滤镜
 * @method filter
 * @version 1.7.0
 * @param {String} $filter 取值与`filter`属性一致 <1.7.0>
 */
/**
 * @module 用户界面
 * @description 定义UA默认外观
 * @method appearance
 * @version 1.0.0
 * @param {String} $appearance 取值与`appearance`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义如何选中内容
 * @method user-select
 * @version 1.0.0
 * @param {String} $user-select 取值与`user-select`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义盒模型
 * @method box-sizing
 * @version 1.0.0
 * @param {String} $box-sizing 指定盒模型类型，取值与`box-sizing`属性一致，默认值：border-box <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义渐变色值
 * @method gradient
 * @version 1.0.0
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial <1.0.0>
 * @param {String} $dir 指定渐变方向，可选值：[left | right] || [top | bottom] | angle <2.0.0>
 * @param {String} $gradient 指定渐变取值，与w3c最新原生语法一致 <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景图像缩放（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-size
 * @version 1.4.0
 * @param {Keywords | Length} $background-size 指定背景图缩放值，取值与`background-size`属性一致 <1.4.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景裁减（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-clip
 * @version 1.6.0
 * @param {Keywords} $background-clip 指定背景图缩放值，取值与`background-clip`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景显示区域（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-origin
 * @version 1.6.0
 * @param {Keywords} $background-origin 指定背景图`background-position`属性计算相对的参考点，取值与`background-origin`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 为元素添加边框（包括1px边框）
 * @method border
 * @version 2.0.0
 * @param {String} $border-width 指定边框厚度（单位为px），默认值：1px，取值与`border-width`属性一致，不同方向代表边框位置 <2.0.0>
 * @param {String} $border-color 指定边框颜色 <2.0.0>
 * @param {String} $border-style 指定边框样式 <2.0.0>
 * @param {String} $radius 指定边框圆角半径，默认值：null <2.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义圆角，用于修复某些安卓机型上“圆角+边框+背景”，背景溢出的情况
 * @method border-radius
 * @version 1.6.0
 * @param {Length} $border-radius 指定元素的圆角半径，取值与`border-radius`属性一致 <1.6.0>
 */
/**
 * @module Transform
 * @description 定义简单变换
 * @method transform
 * @version 1.0.0
 * @param {String} $transform 取值范围与`transform`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 定义变换原点
 * @method transform-origin
 * @version 1.0.0
 * @param {Length | Percentage | Keywords} $transform-origin 取值范围与`transform-origin`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 指定某元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化
 * @method transform-style
 * @version 2.0.0
 * @param {String} $transform-style 取值范围与`transform-style`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定观察者与「z=0」平面的距离，使具有三维位置变换的元素产生透视效果。「z>0」的三维元素比正常大，而「z<0」时则比正常小，大小程度由该属性的值决定。
 * @method perspective
 * @version 2.0.0
 * @param {none | Length} $perspective 取值范围与`perspective`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定透视点的位置
 * @method perspective-origin
 * @version 2.0.0
 * @param {Length | Percentage | Keywords} $perspective-origin 取值范围与`perspective-origin`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定元素背面面向用户时是否可见
 * @method backface-visibility
 * @version 2.0.0
 * @param {Keywords} $backface-visibility 取值范围与`backface-visibility`属性一致 <2.0.0>
 */
/**
 * @module Animation
 * @description 定义动画
 * @method animation
 * @version 1.0.0
 * @param {String} $animation 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Animation
 * @description 指定需要引用的动画名称
 * @method animation-name
 * @version 3.0.0
 * @param {String} $animation-name 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画运行一次所持续的时长
 * @method animation-duration
 * @version 3.0.0
 * @param {String} $animation-duration 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画运行方式
 * @method animation-timing-function
 * @version 3.0.0
 * @param {String} $animation-timing-function 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画延迟多久之后再开始
 * @method animation-delay
 * @version 3.0.0
 * @param {String} $animation-delay 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画循环几次
 * @method animation-iteration-count
 * @version 3.0.0
 * @param {String} $animation-iteration-count 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画的运动方向
 * @method animation-direction
 * @version 3.0.0
 * @param {String} $animation-direction 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画的运动状态
 * @method animation-play-state
 * @version 3.0.0
 * @param {String} $animation-play-state 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画时间之外的状态
 * @method animation-fill-mode
 * @version 3.0.0
 * @param {String} $animation-fill-mode 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Transition
 * @description 定义补间
 * @method transition
 * @version 1.0.0
 * @param {String} $transition 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义显示类型为伸缩盒
 * @method flexbox
 * @version 1.0.0
 * @param {String} $flexbox 默认值：flex，可选值：flex | inline-flex <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素如何分配空间
 * @method flex
 * @version 1.0.0
 * @param {Number} $flex 取值与`flex`属性一致，默认值：1 <1.0.0>
 * @param {String} $direction 默认值: row，可选值：row | column <1.5.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的排版顺序
 * @method order
 * @version 1.0.0
 * @param {Integer} $order 取值与`order`属性一致，默认值：1 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素流动方向及遇见边界时是否换行(要求系统：iOS7.0+, Android4.4+)
 * @method flex-flow
 * @version 2.0.0
 * @param {String} $flex-flow 取值与`flex-flow`属性一致，默认值：row nowrap <2.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的流动方向
 * @method flex-direction
 * @version 1.0.0
 * @param {String} $flex-direction 取值与`flex-direction`属性一致，默认值：row <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素溢出后排版(要求系统：iOS7.0+, Android4.4+)
 * @method flex-wrap
 * @version 1.0.0
 * @param {String} $flex-wrap 取值与`flex-wrap`属性一致，默认值：nowrap <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器主轴对齐方式(其中`space-around`值需要iOS7.0+,Android4.4+)
 * @method justify-content
 * @version 1.0.0
 * @param {String} $justify-content 取值与`justify-content`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义多行弹性容器侧轴对齐方式(要求系统：iOS7.0+,Android4.4+)
 * @method align-content
 * @version 1.8.5
 * @param {String} $align-content 取值与`align-content`属性一致，默认值：center <1.8.5>
 */
/**
 * @module Flexbox
 * @description 定义单行弹性容器侧轴对齐方式
 * @method align-items
 * @version 1.0.0
 * @param {String} $align-items 取值与`align-items`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器中子元素自身的在侧轴对齐方式(要求系统：iOS7.0+,Android4.4+)
 * @method align-self
 * @version 1.0.0
 * @param {String} $align-self 取值与`align-self`属性一致，默认值：center <1.0.0>
 */
/**
 * @module 形状
 * @description 生成矩形方法
 * @method rect
 * @version 1.0.0
 * @param {Length} $width 定义矩形的长度 <1.0.0>
 * @param {Length} $height 定义矩形的高度 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成正方形方法
 * @method square
 * @version 1.0.0
 * @param {Length} $size 定义正方形的边长 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成圆形方法
 * @method circle
 * @version 1.0.0
 * @param {Length} $size 定义圆的半径长度 <1.0.0>
 * @param {Length} $radius 定义圆的圆角半径长度 <1.0.0>
 */
/**
 * @module 常用方法
 * @description 在自适应宽度情况下，确保内容元素的宽高比固定，比如：实现随屏幕大小而变化的正方形。
 * @method fixed-scale
 * @version 3.0.10
 * @param {Length} $width 默认值：100%。用以指定内容元素的初始宽度，由于尺寸需动态变化，不要使用固定单位 <3.0.10>
 * @param {Length} $scale 默认值：1/1，即正方形。用以指定内容元素的宽度高比 <3.0.10>
 */
/**
 * @module 文本
 * @description 链接处理方法
 * @method link
 * @version 1.0.0
 * @param {Color} $color 定义链接颜色 <1.0.0>
 */
/**
 * @module 文本
 * @description 文本碰到边界是否换行
 * @method wrap
 * @version 1.0.0
 * @param {Boolean} $is-wrap 定义文本是否换行，默认值：true <2.0.0>
 */
/**
 * @module 文本
 * @description 单行文本溢出时显示省略号
 * @method ellipsis
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 * @param {Integer} $line-clamp 定义需要显示的行数，默认值：1（即使用单行溢出的处理方案），需要注意的是本参数只支持webkit内核 <2.1.2>
 */
/**
 * @module 文本
 * @description 文字隐藏方案
 * @method texthide
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 */
/**
 * Yo框架全局Reset
 * Yo重置Mobile及高级浏览器上常见的差异
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  overflow: hidden;
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

html {
  background-color: #eee;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none; }

body {
  margin: 0;
  font-size: 0.14em;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif; }

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0; }

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit; }

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left; }

ul,
ol,
menu {
  list-style: none; }

fieldset,
img {
  border: 0;
  vertical-align: middle; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020"; }

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

textarea {
  resize: vertical; }

input,
textarea,
button,
select,
summary,
a {
  outline: 0 none; }

input,
textarea,
button,
select {
  color: inherit; }
  input:disabled,
  textarea:disabled,
  button:disabled,
  select:disabled {
    opacity: 1; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none; }

::-webkit-details-marker {
  display: none; }

mark {
  background-color: rgba(0, 0, 0, 0); }

a,
ins,
s,
u,
del {
  text-decoration: none; }

a,
img {
  -webkit-touch-callout: none; }

a {
  color: #00afc7; }

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020"; }

@font-face {
  font-family: yofont;
  src: url(//ss.qunarzz.com/yo/font/1.0.3/yofont.woff) format("woff"), url(//ss.qunarzz.com/yo/font/1.0.3/yofont.ttf) format("truetype"); }

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.root {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .root main {
    flex: 1;
    overflow-y: scroll; }
  .root footer {
    height: 49px;
    background: #fff; }

@media only screen and (min-width: 412px) {
  html {
    font-size: 100px; } }

.footer {
  height: 100%;
  display: flex;
  border-top: 1px solid #efeff4;
  z-index: 10; }
  .footer > a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray; }
    .footer > a .ico {
      height: 25px;
      width: 25px;
      font-size: 18px;
      text-align: center; }
    .footer > a .txt {
      height: .192rem;
      font-size: 14px; }
    .footer > a.active {
      color: #3581eb; }

.home {
  display: flex;
  flex-direction: column; }
  .home .logo {
    height: 120px;
    background: url(../../../assets/images/banner.png) no-repeat;
    background-size: 100%; }
  .home .app-form {
    height: 48px;
    background: #fff;
    width: 95.26%;
    margin: -.22rem .1rem 0 .1rem;
    border: none;
    border-radius: .04rem;
    position: relative;
    box-shadow: 0px 0.02rem 0.08rem rgba(213, 213, 213, 0.7); }
    .home .app-form .app-form-ctrl {
      position: relative;
      -webkit-box-flex: 1;
      border-radius: 4px; }
      .home .app-form .app-form-ctrl input {
        padding-left: .14rem;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: #FFF;
        font-size: 14px;
        color: #333333;
        height: .48rem; }
      .home .app-form .app-form-ctrl .scan {
        position: absolute;
        top: 50%;
        right: .1rem;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        width: .192rem;
        height: .192rem;
        background-image: url(https://cdn.kuaidi100.com/images/m/ico_scan.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        border: 1px solid transparent; }
      .home .app-form .app-form-ctrl .clear-input-new {
        position: absolute;
        right: .4rem;
        top: 0;
        height: .48rem;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        width: .26rem; }
        .home .app-form .app-form-ctrl .clear-input-new img {
          width: 24px;
          height: 24px; }
    .home .app-form .app-search-new {
      background: #fff;
      padding: 0 .08rem 0 .08rem;
      line-height: .36rem;
      color: #fff;
      font-size: 12px;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      position: absolute;
      right: .06rem;
      height: .24rem;
      border-left: 1px solid #eeeeee;
      top: .13rem;
      display: flex;
      align-items: center;
      visibility: hidden; }
      .home .app-form .app-search-new span {
        position: relative;
        font-size: 16px;
        display: inline-block;
        width: .128rem;
        height: .128rem;
        width: .16rem;
        height: .16rem;
        color: #317ee7;
        bottom: .08rem; }
  .home .page-col {
    padding: .16rem 0 .192rem;
    margin-top: .56rem;
    height: 56px;
    width: 100%;
    box-shadow: 0px -.2rem .2rem #efeff4;
    -webkit-box-shadow: 0px -.2rem .2rem #efeff4;
    background: #efeff4; }
    .home .page-col > ul {
      font-size: 14px;
      color: #888888;
      display: flex;
      justify-content: space-between;
      background-position: 0 .2rem;
      padding: 0 .3rem;
      margin-top: -.57rem; }
      .home .page-col > ul li {
        text-align: center;
        width: .792rem;
        -webkit-box-flex: 1; }
        .home .page-col > ul li a {
          color: #888888;
          font-size: 13px; }
        .home .page-col > ul li .ico {
          width: 46.4px;
          height: 46.4px;
          margin: 10px auto 6px;
          border-radius: 50%;
          /* background-image: url(https://cdn.kuaidi100.com/images/m/index_ico.png?version=20180425); */
          background-size: 100% auto; }
        .home .page-col > ul li .courier {
          background-position: 1px -1%;
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_dingdan.png); }
        .home .page-col > ul li .record {
          /* background-position: 1px -1%; */
          position: relative;
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_jilu.png); }
        .home .page-col > ul li .all {
          /* background-position: 1px -1%; */
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_daquan.png); }
        .home .page-col > ul li .time {
          /* background-position: 1px -1%; */
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_jiage.png); }
  .home .history {
    padding: 0 .1rem .1rem .1rem;
    background: #efeff4; }
    .home .history .title {
      display: flex;
      justify-content: space-between;
      height: .168rem; }
      .home .history .title a {
        color: #a3a3a3;
        font-size: 12px; }
      .home .history .title:first-child {
        color: #a3a3a3;
        font-size: 13px; }
      .home .history .title div:last-child {
        font-size: 12px;
        display: flex;
        align-items: center; }
      .home .history .title > div:last-child::after {
        display: block;
        width: 8px;
        height: 8px;
        border-top: 1.5px solid #b4b4b4;
        border-right: 1.5px solid #b4b4b4;
        content: '';
        -webkit-transform: rotate(45deg);
        border-radius: 2px; }
    .home .history .box {
      height: 2.0255rem;
      width: 100%; }
      .home .history .box .nor-new {
        margin: 0 auto;
        width: 70%;
        padding-top: 40%;
        background: url(https://cdn.kuaidi100.com/images/m/none.png?version=2) no-repeat;
        background-size: 100% auto;
        overflow: hidden;
        text-align: center;
        color: #888; }
        .home .history .box .nor-new p {
          font-size: 16px; }
          .home .history .box .nor-new p small {
            font-size: 14px;
            opacity: .8; }
  .home .new-products {
    width: 100%;
    background: #efeff4; }
    .home .new-products .new-products-title {
      width: 100%;
      color: #333333;
      font-size: 17px;
      padding: .08rem 0 .08rem .16rem; }
    .home .new-products .new-products-part {
      height: 120px;
      overflow-x: scroll;
      overflow-y: hidden; }
      .home .new-products .new-products-part ul.product {
        width: auto;
        height: 200px;
        overflow: hidden;
        display: inline-flex; }
        .home .new-products .new-products-part ul.product .products-part-detail {
          width: 110px;
          height: 106px;
          background: #fff;
          border-radius: 4px;
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-left: 5px; }
          .home .new-products .new-products-part ul.product .products-part-detail img {
            width: 34px;
            height: 34px;
            margin-top: 8px; }
          .home .new-products .new-products-part ul.product .products-part-detail .products-part-detail-title {
            width: 100%;
            color: #333333;
            font-size: 13px;
            text-align: center;
            height: 16px;
            margin-bottom: 4px;
            margin-top: -12px; }
          .home .new-products .new-products-part ul.product .products-part-detail .products-part-detail-desc {
            width: 100%;
            color: #888888;
            font-size: .12rem;
            text-align: center;
            transform: scale(0.84);
            height: 14px;
            margin-top: -12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; }
      .home .new-products .new-products-part .products-part-detail:first-child {
        margin-left: .1rem; }
      .home .new-products .new-products-part .products-part-detail:last-child {
        margin-right: .1rem; }
  .home .copyright {
    padding: .1rem 0;
    line-height: .24rem;
    text-align: center;
    font-size: .12rem;
    color: #aaa; }
    .home .copyright .copyright-meun {
      padding: 0;
      height: .32rem;
      line-height: .32rem;
      margin: .1rem 0;
      padding: 0; }
      .home .copyright .copyright-meun a {
        display: inline-block;
        padding: 0 .1rem;
        text-align: center;
        border: .01rem solid #e6e6e6;
        color: #aaa;
        background: #e6e6e6;
        border-right: .01rem solid #d2d2d2; }
      .home .copyright .copyright-meun:nth-last-child(1) {
        border-right: none; }
    .home .copyright .copyright-icp a {
      color: #aaa; }
      .home .copyright .copyright-icp a img {
        width: 46px;
        height: 16px; }

.more {
  background: #FFF;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .more a {
    position: relative;
    display: block;
    width: 33.33%;
    box-sizing: border-box;
    padding: .256rem 0;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    font-size: .14rem; }
  .more a:before {
    display: block;
    width: .26rem;
    height: .26rem;
    content: '';
    margin: 0 auto .5em;
    background-image: url(//cdn.kuaidi100.com/images/m/icons/more.png?verion=10);
    background-repeat: no-repeat;
    background-size: 26px auto; }
  .more a.price:before {
    background-position: 0 0; }
  .more a.all:before {
    background-position: 0 -31px; }
  .more a.net:before {
    background-position: 0 -60px; }
  .more a.global:before {
    background-position: 0 -90px; }
  .more a.download:before {
    background-position: 0 -118px; }
  .more a.import:before {
    background-position: 0 -150px; }

.center {
  position: relative;
  background: #efeff4; }
  .center .mine {
    min-height: 1.17rem;
    padding: 0rem .16rem 0rem .16rem;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    display: -webkit-box;
    background: url(https://cdn.kuaidi100.com/images/m/change/bgHasCard.png) top center no-repeat #317ee7;
    background-size: 100% auto;
    color: #FFF;
    background-position-y: -.256rem; }
    .center .mine .white-arrow {
      position: absolute;
      right: 14px;
      top: .272rem;
      width: .08rem; }
    .center .mine .avatar {
      margin-top: .2rem;
      width: .56rem;
      height: .56rem;
      border-radius: 50%;
      background-size: 100%;
      margin-right: .08rem;
      background-color: rgba(255, 240, 240, 0.3);
      background-image: url(https://p.kuaidi100.com/mobile/mobileapi.do?method=download); }
    .center .mine .infos {
      -webkit-box-flex: 1;
      margin-top: .232rem; }
      .center .mine .infos p {
        font-size: .18rem;
        display: flex;
        align-items: center; }
      .center .mine .infos p:last-child {
        margin-top: .04rem; }
        .center .mine .infos p:last-child span {
          font-size: .16rem;
          opacity: 0.7; }
    .center .mine .has-img {
      width: 100%;
      position: absolute;
      bottom: -.2366rem;
      left: 0;
      z-index: 20; }
      .center .mine .has-img img {
        width: 100%; }
  .center .menu-list {
    height: 4rem;
    margin-top: -.17rem; }
    .center .menu-list .menu-list ul:first-child {
      margin-top: -.08rem; }
    .center .menu-list ul {
      background: #fff;
      position: relative;
      z-index: 12;
      margin-top: 0.1rem; }
      .center .menu-list ul li {
        -webkit-box-flex: 1;
        color: #333;
        display: -webkit-box;
        -webkit-box-align: center;
        padding-left: .14rem;
        font-size: 14px; }
        .center .menu-list ul li .line {
          font-size: 16px;
          color: #333;
          display: -webkit-box;
          height: .48rem;
          border-bottom: 1px solid #efeff4;
          -webkit-box-flex: 1;
          -webkit-box-align: center; }
          .center .menu-list ul li .line > div:first-child {
            -webkit-box-flex: 1; }
        .center .menu-list ul li .ico {
          position: relative;
          width: .2rem;
          height: .2rem;
          margin-right: .07rem;
          background-size: .18rem auto;
          background-repeat: no-repeat; }
        .center .menu-list ul li .ico.add {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_send.png?ver=1); }
        .center .menu-list ul li .ico.query {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_record.png); }
        .center .menu-list ul li .ico.mess {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_message.png); }
        .center .menu-list ul li .ico.coupon {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_card.png); }
        .center .menu-list ul li .ico.addr {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_address.png); }
        .center .menu-list ul li .ico.point {
          background-image: url(https://cdn.kuaidi100.com/images/m/change/ico_code.png); }
      .center .menu-list ul li .line:after {
        margin-right: .12rem;
        display: block;
        width: .09rem;
        height: .09rem;
        border-top: 1.5px solid #b4b4b4;
        border-right: 1.5px solid #b4b4b4;
        content: '';
        margin-left: 5px;
        -webkit-transform: rotate(45deg);
        border-radius: 2px; }
    .center .menu-list .place {
      color: #aaa;
      font-size: 14px; }

main {
  background: #eee; }

#root {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: 'yofont';
  src: url("../../assets/icon/iconfont.woff") format("woff"), url("../../assets/icon/iconfont.ttf") format("truetype"); }

html,
body {
  font-size: 16px; }

.yofont {
  font-family: "yofont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
