.orderimport {
    height: 100%;

    .history-list {
        padding-top: .132rem;

        .noresult {
            text-align: center;
            color: #888;
            font-size: .14rem;
            -webkit-transition: all .4s;
            transition: all .4s;

            .no-result-icon {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background: url(https://cdn.kuaidi100.com/images/m/nor.png);
                background-size: 100% auto;
                margin-bottom: .128rem;
            }
        }

        .pd10 {
            padding: 10px;

            .t-center {
                text-align: center;
                font-size: .14rem;
                line-height: .24rem;
            }
        }
    }
}