.price {
    padding: 10px;
    background: #efeff4;

    .form {
        background: #fff;

        .form-control:nth-last-child(2) {
            border-bottom: 1px solid #efeff4;
        }

        .form-control {
            display: -webkit-box;
            box-sizing: border-box;
            -webkit-box-align: center;
            position: relative;
            padding: 0 .2rem;
            font-size: .16rem;
            color: #333;
            background: #fff;

            label {
                display: block;
                width: .8rem;
                height: .288rem;
                color: #888;
            }

            .input {
                -webkit-box-flex: 1;
                margin-left: 5px;
                border-bottom: 1px solid #efeff4;
                line-height: .56rem;
            }

        }

        &:nth-child(1) {

            label.st,
            label.ds {
                background-image: url(https://cdn.kuaidi100.com/images/m/price.png?version=201800716);
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: center 0;
                width: .24rem;
            }

            label.ds {
                background-position: center -40px;
            }

            .input.empty {
                color: #bebebe;
            }
        }

        &:nth-child(2) {
            margin-top: 10px;

            .right .input {
                text-align: right;
            }

            .num-ctrl {
                border: 0;
                display: -webkit-box;
                -webkit-box-pack: end;
                -webkit-box-align: center;

                .number-wrap {
                    padding: 0 .16rem;

                    .small {
                        display: inline-block;
                        outline: 0;
                        border: 0;
                        width: .32rem;
                        text-align: center;
                        -webkit-box-flex: 0;
                    }
                }

                .minus,
                .plus {
                    position: relative;
                    width: .24rem;
                    height: .24rem;
                    border: 1px solid;
                    border-radius: 50%;
                    color: #3278e6;
                }

                .minus:before,
                .plus:before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(.5);
                    width: 20px;
                    border-top: 2px solid;
                    content: '';
                }

                .plus:after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(.5);
                    height: 20px;
                    border-left: 2px solid;
                    content: '';
                }

                .minus.disabled,
                .plus.disabled {
                    color: #d8d8d8;
                }
            }

            .next:after {
                display: block;
                width: .1rem;
                height: .1rem;
                border-top: 1px solid #b4b4b4;
                border-right: 1px solid #b4b4b4;
                border-top-right-radius: 2px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-left: 5px;
                content: '';
            }
        }
    }

    .center {
        text-align: center;
        color: #aaa;
        font-size: .14rem;
        line-height: .48rem;
    }

    .foot {
        padding: .08rem .1rem;

        .btn {
            padding: .14rem;
            font-size: .16rem;
            background: #FF7F02;
            border-radius: 3px;
            color: #FFF;
            text-align: center;
        }
    }
}